{% extends "layout.html" %}

{% block main %}

<div style = "margin-top:40px">
<form action="/students" method="post">

    <table class="table table-bordered">
    <thead>
        <th scope="col" style="width: 150px; word-wrap: break-word; font-size:130%"> name </th>
        <th scope="col" style="width: 150px; word-wrap: break-word; font-size:130%"> averege </th>
        <th scope="col" style="width: 150px; word-wrap: break-word; font-size:130%">new grade</th>
    </thead>
    <tbody>


    {% for student in students %}
        <tr>
        <th scope="row" style="width: 150px; word-wrap: break-word;"> {{student.0}} </th>
        <th scope="row" style="width: 150px; word-wrap: break-word;">{{averege[student.0]}}</th>
        <th scope="row" style="width: 150px; word-wrap: break-word;" >
            <input name={{student.0}}></input>
        </th>
        {% for obj in grades %}
        {% if obj.1 == student.0 %}
            <td>{{obj.0}}</td>
        {% endif %}
        {% endfor %}

        </tr>
    {% endfor %}


    </tbody>
    </table>

    <button class="btn btn-primary" type="submit" style="float: left; margin-bottom: 30px">Mark the grades.</button>
</form>
</div>


{% endblock %}
